{% extends "content.html" %}
{% load staticfiles %}

{% block title %}Temii - FAQ's{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'index' %}" class="breadcrumb">FAQS</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-4">
        FAQ'S
        <ul class="collection">
          <li>
        <h5>1. ¿Soy una pregunta?</h5>
        <h6>Soy una respuesta</h6>
          </li>
          <li>
        <h5>2. ¿Soy una pregunta?</h5>
        <h6>Soy una respuesta</h6>
          </li>
          <li>
        <h5>3. ¿Soy una pregunta?</h5>
        <h6>Soy una respuesta</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/vendor/csrf.js" %}"></script>
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
{% endblock %}
