{% extends "content.html" %}
{% load staticfiles %}

{% block title %}Temii - Charla X{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'index' %}" class="breadcrumb">Inicio</a>
  <a href="{% url "detalle_charla" charla.pk %}" class="breadcrumb">{{ charla.titulo }}</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card-panel grey lighten-4">
      <h4 class="card-title grey-text text-darken-4 talk-title">{{ charla.titulo }}</h4>
      {% include "charla/voto.html" %}
      <p class="grey-text label">Posteado por: {{ charla.usuario.first_name }} {{ charla.usuario.last_name }}</p>
      <p class="grey-text label">
      	Fecha publicación: {{ charla.fecha_publicacion}}
      </p>
      <p class="grey-text label">
      	Pre-requisitos: 
      	{% if charla.prerequisitos %}
      		{{ charla.prerequisitos }}
      	{% else %}
      		Ninguno
      	{% endif %}
      </p>
      <p class="grey-text label">
      	{% if charla.fecha_taller %}
      		Fecha taller: {{ charla.fecha_taller }}
      	{% else %}
      	{% endif %}
      </p>
      <div>
       {{ charla.descripcion }}
      </div>
      <div id="categorias">
        {% for categoria in charla.categorias.all %}
          <div class="chip">
              {{ categoria.nombre }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/vendor/csrf.js" %}"></script>
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
{% endblock %}