{% extends "content.html" %}

{% block title %}Temii - Charlas{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'index' %}" class="breadcrumb">Inicio</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-4">
        Bienvenido a Django!
        <h4 class="card-title grey-text text-darken-4">Charlas</h4>
        <a href="" class="grey-text">Categoria1</a>
        <ul class="collection">
        	{% for charla in charlas %}
          <li {% if charla.estado == 'agendado' %}class="card-panel blue"{% endif %}>
            <a href="{% url "detalle_charla" charla.pk %}" class="collection-item avatar unselect">
              <i class="material-icons circle amber">insert_chart</i>
              <span class="title">{{ charla.titulo }}</span>
              <div class="secondary-content">
                <i class="material-icons amber-text text-accent-2">grade</i><span class="grey-text">{{ charla.votos }}</span>
                <!-- <i class="material-icons blue-text">comment</i><span class="grey-text">5</span> -->
              </div>
              <p class="grey-text label">Posteado por: {{ charla.usuario.first_name }} {{ charla.usuario.last_name }}</p>
              <p class="grey-text label">
              	{{ charla.fecha_publicacion}}
              </p>
            </a>
          </li>
          {% endfor %}
        </ul>   
        
      </div>
    </div>
  </div>
{% endblock %}
{% block add_button %}
    {% if user.is_authenticated  %}
      <div class="fixed-action-btn unselect" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large orange accent-3" href="{% url 'registrar_charla' %}">
          <i class="large material-icons">add</i>
        </a>
      </div>
    {% endif %}
{% endblock add_button %}