{% extends "content.html" %}
{% load material_form %} 

{% block title %}Temii - Postular Charla{% endblock %}

{% block breadcrumb %}
  <a href="{% url 'index' %}" class="breadcrumb">Inicio</a>
  <a href="{% url 'registrar_charla' %}" class="breadcrumb">Postular</a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-4">
        <h4 class="card-title grey-text text-darken-4">Postular Tema</h4>
        <form method="post" class='material-form'>
          {% csrf_token %}
          {% form form=form %}{% endform %}
          <input type="submit" value="Postular" class="waves-effect waves-light btn"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
      $('.material-form select').material_select();
      $('.material-form textarea').addClass('materialize-textarea');
    });
  </script>
{% endblock %}