<div class="star-vote{{ charla.pk }}">
    {% if user.is_authenticated %}
    <a href="{% url "votar" charla.id %}" class="ajax" data-method="post" data-replace=".star-vote{{ charla.pk }}">

        {% if charla.estado_estrella %}
        <i class="material-icons amber-text text-accent-2">
        {% else %}
        <i class="material-icons amber-text text-accent-2" style="color: #BDBDBD !important">
        {% endif %}
            grade
        </i>

    </a>
    {% else %}
        <i class="material-icons amber-text text-accent-2" style="color: #BDBDBD !important">
            grade
        </i>
    {% endif %}
    <span class="grey-text">
        {{ charla.votos }}
    </span>
</div>
