/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
  }

  .container {
    flex: 1 0 auto;
  }

  .brand-logo{
    margin-left: 2rem;
    font-size: 1.5rem !important;
  }

.simple-nav {
    background: none;
    
    box-shadow: none;
}

.simple-nav > div > div {
    line-height: 2rem;
    margin: 1rem auto;
}

.simple-nav > div > div > a,
.simple-nav > div > div > a:before,
.simple-nav > div > div > a:last-child {
    color: #9e9e9e;
    font-size: 0.9rem;
}

.card-panel {
    margin: 0;
}

.collection > li {
    border-bottom: 1px solid #E0E0E0;
}

.collection > li:last-child {
    border-bottom: none;
}

.secondary-content {
    display: flex;
    flex-direction: row;
    width: 6rem;
    justify-content: space-around; 
}

.collection-item > .title {
    font-size: 1rem;
    display: block;
    width: calc(100% - 6rem);
}

.button-collapse > i{
    font-size: 2.5rem !important;
    margin-left: 1rem;
}
.unselect {
    -moz-user-select: none;
}

.profile {
    display: flex;
    align-items: center;
}

.profile > i {
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
    height: 3rem;
    margin-right: 1rem;
}

.profile > span {
    font-size: 1.5rem;
}

.label {
    font-size: 0.9rem;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        margin: 0;
    }
    html {
        font-size: 14px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/** Material css tweaks */
.input-field .invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

.select-field .invalid .select-dropdown {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

.has-error .errors{
    color: #f44336;
}

.secondary-content.votes{
    position: relative;
    z-index: 9999999;
    margin-top: 10px;
    margin-right: 6px
}